<table class="table">
	<thead class="head">
		<tr>
			<td class="col-0">Num</td>
			<td class="col-1">FIO</td>
			<td class="col-2">Position</td>
			<td class="col-3">Gender</td>
			<td class="col-4">Married</td>
			<td class="col-5">City</td>
		</tr>
	</thead>

	<tbody class="body">
		<tr *ngFor="let p of participants; let i = index;">
			<td class="col-0">{{ i }}</td>
			<td class="col-1">
				<span>{{ p?.fname }}</span>
				<span>{{ p?.mname }}</span>
				<span>{{ p?.lname }}</span>
			</td>
			<td class="col-2">{{ p?.position }}</td>
			<td class="col-3">{{ GENDERS[p?.gender] }}</td>
			<td class="col-4">{{ p?.married ? 'yes' : 'no' }}</td>
			<td class="col-5">{{ p?.city }}</td>
		</tr>
	</tbody>
</table>

<button class="btn btn-common" mat-button>
  Задать вопрос
</button>