<div class="title">{{ data.title }}</div>

<div class="body">
	<form class="form">
	  <mat-form-field class="full-width">
	    <input matInput placeholder="" [(ngModel)]="position" name="position">
	  </mat-form-field>
	</form>
</div>

<div class="btns">
	<button class="btn btn-common" mat-button (click)="matDialogRef.close()">
	  Отменить
	</button>

	<button class="btn btn-common" mat-button (click)="submit()">
	  Отправить
	</button>

	<button class="btn btn-common" mat-button (click)="submit2()">
	  вызвать
	</button>	
</div>

